.standartDiv{
    background-color: #f8f8f8;
    display: flex;
    justify-content: flex-start;
}
.headerDiv{
    background-color: darkgreen;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.searchInput{
    border: 2px solid black;
}
.image{
    margin: 40px;
    width: 50px;
    height: 50px;
    margin-bottom: 25px;
}
.nameDiv{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 0px;

    background-color: #277514;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
}

.leftMenu{
    display: inline-block;
    backdrop-filter: blur(10px);
    padding: 1%;
    margin-top: 10px;
    z-index: 0;
}
.textDiv{
    margin: 10px;
    margin-right: 50px;
    margin-top: 0px;
}
.cardGrid{
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: repeat(3,1fr);
}
.cabForm{
    padding: 0px;
    margin: 0px;
}
.cabLogin{
    color: white;
    margin:5px;
    padding: 0;
    margin-top: 10px;
}