.topDiv{
    display: flex;
    justify-content: flex-start;
}
.parametersDiv{
    box-shadow: 0px 2px 5px 0px darkgray;
    transition: 0.2s;
    background-color: darkgreen;
    margin: 10px;
    padding: 50px;
    border-radius: 40px;

}
.description{
    margin-right: 100px;
    font-size: 20;
    padding-bottom: 10px;
    width:fit-content;
    text-align: justify;
}
.picture{
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px darkgray;
    margin: 10px;
    margin-left: 0px;
    width:700px;
    object-fit: cover;
}
.buyDiv{
    justify-content: end;
}
.buyButton{
    display: block;
    margin: 10px;
    font-weight: 400;
    font-size: 20px;
    color: f8f8f8;
    background-color: #277514;
    padding: 10px;
    text-align: center;
    border: 3px solid #f8f8f8;
    border-radius: 4px;
    cursor: pointer; 
    margin-top: auto; 
    width: 300px;
    height: 70px;
}
.buyButton:hover {
    border: 3px solid #f8f8f8;
    background-color: #f8f8f8;
    color: black ;
    font-size: 24px;
    transform: scale(1.1);
    box-shadow: 0px 2px 5px 0px darkgray;
}


.paramText{
    color: #f8f8f8;
}